input,
button {
    padding: 5px 15px;
    margin: 10px;
    font-size: 14px;
    border: 1px solid#000;
}

input {
    width: 50%;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #808080;
    color: #fff;
    transition: .3s;
}

@media (max-width: 576px) {
    input {
        width: 70%;
    }
}